@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(background.jpg) no-repeat;
    background-size: cover;
    background-position: center;

}

.content {
    background-color: #fff;
    border-radius: 15px;
    width: 1290px;
    height: 700px;
    justify-content: space-around;
    align-items: center;
    position: relative;
    
}

.first-content .second-clunm{
    z-index: 11;
}

.first-content{
    display: flex;
}

.second-content{
    position: absolute;
    display: flex;
}

form .row{
    display: flex;
}

.first-column {
    text-align: center;
    color: #fff;
    width: 40%;
    z-index: 10;
}

.second-content .first-column {
    order: 2;
    z-index: -1;
    
}
.second-content .second-clunm {
    order: 1;
    z-index: -1;
}


.content::before {
    content: "";
    position: absolute;
    background-color: #58af9b;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    z-index: 2;


    left: 0%;
}

.second-clunm h3{
    font-size: 2em;
    text-align: center;
}


.bnt{
    margin-top: 20px;
    width: 100%;
    height: 45px;
    background: transparent;
    border: 2px solid #162938;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #162938;
    transition: .5s;
}

.bnt:hover {
    
    background: #162938;
    color: #fff;
}




.input-box{
    position: relative;
    width: 80%;
    height: 70px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 5px 0 2px;
}

.input-box span{
    position: relative;
    top: 5px;
    left: 5px;
    transform: translateY(-5%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
}

.slec{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 900;
    padding: 0 5px 0 2px;
}

.btn-primary {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    transition: 0.5s;
    margin-top: 20px;
}

.btn-primary:hover {
    background: #fff;
    color: #162938;
}

.second-content .first-column{
    order: 2;
}

.second-content .second-clunm{
    order: 1;
}

.input-box2{
    position: relative;
    width: 100%;
    height: 70px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box2 input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 5px 0 2px;
}

.input-box2 span{
    position: relative;
    top: 5px;
    left: 5px;
    transform: translateY(-5%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
}

.sign-in-js .first-content .first-column,
.sign-in-js .first-content .second-clunm {
    z-index: -1;
}

.sign-in-js .second-content .second-clunm {
    z-index: 11;
}
.sign-in-js .second-content .first-column {
    z-index: 13;
}

.sign-in-js .content::before {
    left: 60%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: slidein 1.3s; /*MODIFIQUEI DE 3s PARA 1.3s*/

    z-index: 12;
}

.sign-up-js .content::before {
    animation: slideout 1.3s; /*MODIFIQUEI DE 3s PARA 1.3s*/

    z-index: 12;
}

.sign-up-js .second-content .first-column,
.sign-up-js .second-content .second-clunm {
    z-index: -1;
}

.sign-up-js .first-content .second-clunm {
    z-index: 11;
}

.sign-up-js .first-content .first-column {
    z-index: 13;    
}


/* DESLOCAMENTO CONTEÚDO ATRÁS DO CONTENT:BEFORE*/
.sign-in-js .first-content .second-clunm {

    z-index: -1;
    position: relative;
    animation: deslocamentoEsq 1.3s; /*MODIFIQUEI DE 3s PARA 1.3s*/
}

.sign-up-js .second-content .second-clunm {
    position: relative;
    z-index: -1;
    animation: deslocamentoDir 1.3s; /*MODIFIQUEI DE 3s PARA 1.3s*/
}

/*ANIMAÇÃOO CSS PARA O CONTEÚDO*/

@keyframes deslocamentoEsq {

    from {
        left: 0;
        opacity: 1;
        z-index: 12;
    }



    to {
        left: -99px;
        opacity: 0;
        z-index: -1;
    }
}


@keyframes deslocamentoDir {

    from {
        left: 0;
        opacity: 1;
        z-index: 12;
    }



    to {
        left: 99px;
        opacity: 0;
        z-index: -1;
    }
}


/*ANIMAÇÃO CSS*/

@keyframes slidein {

    from {
        left: 0;
        width: 40%;
    }



    50% {
        left: 25%;
        width: 60%;
    }



    to {
        left: 60%;
        width: 40%;
    }
}

@keyframes slideout {

    from {
        left: 60%;
        width: 40%;
    }



    50% {
        left: 25%;
        width: 60%;
    }



    to {
        left: 0;
        width: 40%;
    }
}